* {
  box-sizing: border-box;
}

body {
height: 100vh;
width: 100vw;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
background: white;
}

main {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px dotted black; */
  /* margin: auto; */
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat ;
}

div {
  /* border: 1px solid black; */
  width: 50px;
  height: 50px;
}

.street {
  background-color: grey;
}



.frog {
  background-image: url('../assets/frog.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(0.75);
}

.car {
  background-image: url('../assets/toppng.com-free-download-high-quality-cartoon-car-png-icon-orange-cartoon-car-no-background-800x322.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.log {
  background-image: url('../assets/log.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.log-and-frog {
  background-image: url('../assets/frog.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
